@import url('./global-styles.css');

.LoginRegister {
    display: flex;
    height: 100vh;
  }
  
  .login-register-content {
    max-width: 400px; 
    text-align: left;
    padding: 20px;
  }

  .login-register-title {
    text-align: left;
    font-size: 50px;
    font-weight: 800;
    color: var(--cream);
  }

  .login-register-form-title {
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
  }

  .input-container {
    position: relative;
    width: 100%;
  }
  
  .input-icon {
    position: absolute;
    top: 15%;
    left: 325px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .input-field {
    padding-left: 50px;
  }

  
  