@import url('./global-styles.css');

.LoginRegister {
    display: flex;
    height: 100vh;
  }
  
  .login-register-content {
    max-width: 400px; 
    text-align: left;
    padding: 30px
  }

  .login-register-title {
    font-size: 50px;
    font-weight: 800;
    color: var(--cream);
    text-align: left;
  }

  .login-register-form-title {
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
  }

  .input-container {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #000000;
  }

  .input {
    margin-left: 20px;
  }
  
  