@import url('./global-styles.css');

.NewPassword {
    background-color: var(--cream);
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: var(--mossGreen);
    color: var(--cream);
    padding: 20px;
    height: 100%; 
    font-size: 30px;
  }
  
  .sidebar h2 {
    text-align: left;
    margin-bottom: 20px;
    color: var(--cream);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .sidebar a {
    text-decoration: none;
    color: black;
  }

  .title h2 {
    text-align: left;
    margin-left: 20px;
  }
  
  .main-content {
    flex: 1;
  }

  .search-bar{
    width: 400px;
    height: 20px;
    padding: 12px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    background-color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: var(--white);
    border: none;
  }
  
  .form-container {
    width: 600px; 
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--forestGreen);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-container h2{
    color: white;
  }

  .top-bar {
    background-color: var(--darkGreen);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    color: var(--cream);
  }

  .title-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .title-container h3 {
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right: 35px;
  }

  .button3 {
    margin-top: 10px;
    margin-left: 20px;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: var(--orange);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .error-message2 {
    color: red;
    margin-top: 2px;
    margin-top: 0px;
    margin-left: 20px;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
  }