:root {
    --cream: #FFFEF2;
    --mossGreen: #58641D;
    --forestGreen: #003A3A;
    --darkGreen: #00231D;
    --pumpkin: #DC851F;
  }

.Register {
    display: flex;
    height: 100vh;
  }

  .register-left {
    flex: 1; /* Occupy half of the container's width */
    background-color: var(--mossGreen); /* Left side color */
    color: var(--darkGreen);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-right {
    flex: 1;
    background-color: var(--forestGreen); /* Right side color */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-content {
    max-width: 400px; /* Adjust the maximum width of the content */
    text-align: left;
    padding: 20px
  }

  .register-title {
    font-size: 50px;
    font-weight: 800;
    color: var(--cream);
  }

  .register-button {
    margin-top: 10px;
    margin-left: 70px;
    padding: 15px;
    width: 115px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: var(--pumpkin); /* Button color */
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .register-form {
    max-width: 400px;
    text-align: left;
    padding: 20px;
  }

  .register-form input {
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--forestGreen);  
  }

  .register-form-title {
    font-weight: 800;
    color: var(--cream);
    margin-bottom: 20px;
  }
  